<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="converge" sortOrder="999" translate="label">
            <label>Converge</label>
        </tab>
        <section id="converge" translate="label" sortOrder="342" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Converge</label>
            <tab>converge</tab>
            <resource>Converge_Converge::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="public_token" type="text" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Converge Public Token</label>
                    <comment><![CDATA[You get a public token in Converge > Sources by creating a new client-side source.]]></comment>
                </field>
                <field id="order_dedup_method" type="select" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Placed Order ID</label>
                    <source_model>Converge\Converge\Model\Config\Source\OrderDedupMethod</source_model>
                    <comment><![CDATA[Select which ID you want to assign to your Placed Order events.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
